
body{
    overflow-x: hidden;
}

.portfolio-title{
    text-align: center;
    padding: 2rem;
    margin: 1rem;
    font-size: 2rem;
    font-weight: 700;
   
}

.portfolio-title span{
    color: purple;
}


.portfolio-image{
    display: grid;
    grid-auto-flow: dense;
    grid-template-columns: repeat(auto-fit,minmax(400px,1fr));
    padding: 0 0.6rem;
    gap: 0.5em;
    grid-auto-flow: dense;
  
    
}
.portfolio-image img{
    min-width: 50%;
    max-width: 100%;
    min-height:100% ;
    object-fit: cover;
    object-position: 50% 50%;
    transition: 0.5s ease-in;
}


.portfolio-image img:first-child{
    grid-row: span 2;
}


.portfolio-image img:hover,
.portfolio-image img:focus{
    transform: scale(1.05);
}

@media (min-width:750px){
    .portfolio-image{
        padding: 0 5rem;
    }
}